[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=Update;Browse;Commit;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=RabbitVCS

[Desktop Action Update]
Name=Update
Icon=ark
Exec=rabbitvcs update

[Desktop Action Browse]
Name=Browse Log
Icon=ark
Exec=rabbitvcs log

[Desktop Action Commit]
Name=Commit
Icon=ark
Exec=rabbitvcs commit
